Source: arduino-builder
Section: electronics
Priority: optional
Maintainer: Debian Electronics Team <pkg-electronics-devel@lists.alioth.debian.org>
Uploaders: Rock Storm <rockstorm@gmx.com>
Build-Depends: debhelper (>= 11),
               dh-golang (>= 1.6.3),
               golang-any,
               golang-github-go-errors-errors-dev,
               golang-github-stretchr-testify-dev
Standards-Version: 4.1.3
Homepage: https://github.com/arduino/arduino-builder
XS-Go-Import-Path: arduino.cc/arduino-builder
Testsuite: autopkgtest-pkg-go

Package: arduino-builder
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Command line tool for compiling Arduino sketches
 This tool is able to parse Arduino Hardware specifications, properly run 'gcc'
 and produce compiled sketches.
 .
 An Arduino sketch differs from a standard C program in that it misses a 'main'
 (provided by the Arduino core), function prototypes are not mandatory, and
 libraries inclusion is automagic (you just have to  #include  them). This tool
 generates function prototypes and gathers library paths, providing 'gcc' with
 all the needed '-I' params.
